In [1]:
class Emerson:
    pass

In [2]:
type( Emerson )

type

In [3]:
# Criar nossa classe
class Alguem:

    # METODO CONSTURTOR
    def __init__(self,nome, idade):
        self.nome = nome
        self.idade = idade

    def imprimir_informacoes(self):
        '''Função para mostrar o nome e idade da pessoa'''
        print(f"Nome: {self.nome}, Idade:{self.idade}")

In [4]:
# Criar a instancia
pessoa1 = Alguem('Emerson', 21)
pessoa2 = Alguem('Odemir', 21)

In [5]:
pessoa1.imprimir_informacoes()

Nome: Emerson, Idade:21

In [6]:
pessoa2.imprimir_informacoes()

Nome: Odemir, Idade:21

In [7]:
import math

class Circulo:

    def __init__(self, raio):
        self.raio = raio

    def calcular_area(self):
        return print( math.pi * self.raio ** 2)
    
# Insatcio
circulo1 = Circulo(20)

# Chameio o método
circulo1.calcular_area()

1256.6370614359173

In [8]:
class Livro:

    def __init__(self, titulo, autor, ano):

        # isinstance: verifica se o argumento ano é uma instância do tipo int
        if not isinstance(ano, int) or ano <= 0:
            raise ValueError('O ano deve ser um número inteiro positivo.')
        
        self.titulo = titulo
        self.autor = autor
        self.ano = ano

    def detalhes(self):
        return f'Título: {self.titulo} Autor: {self.autor} Ano: {self.ano}'

In [9]:
livro1 = Livro('Silo', 'Hugh Howey', 2014)

In [10]:
livro1.detalhes()

'Título: Silo Autor: Hugh Howey Ano: 2014'

In [11]:
livro1 = Livro('Silo', 'Hugh Howey', '2014')

ValueError: O ano deve ser um número inteiro positivo.

In [13]:
class Animal:

    def __init__(self, especie, idade):
        self.idade = idade

        if especie.lower() == 'cachorro':
            self.especie = especie
        else:
            raise ValueError(f'Espécie inválida! Apenas "Cachorro" é permitido.')

In [14]:
animal1 = Animal('CACHORRO', 5)
print(animal1.especie)

CACHORRO

In [15]:
animal2 = Animal('Gato', 3)
print(animal1.especie)

ValueError: Espécie inválida! Apenas "Cachorro" é permitido.

In [16]:
class ValidadorCPF:

    def __init__(self):
        self.lista_cpf_bloquear = ['123.456.789-10', '987.654.321-98', '111.222.333-44']

    def validar_cpf(self, cpf):
        
        # Loop 
        for cpf_na_lista in self.lista_cpf_bloquear:
            if cpf_na_lista == cpf:
                return True
        return False

In [17]:
validador = ValidadorCPF()

In [18]:
# verificar o cpf
cpf_validar = '123.456.789-10'

if validador.validar_cpf(cpf_validar):
    print(f'O CPF {cpf_validar} está na lista.')

else:
    print(f'O CPF {cpf_validar} não está na lista.')

O CPF 123.456.789-10 está na lista.

In [19]:
# verificar o cpf
cpf_validar = '123.456.789-99'

if validador.validar_cpf(cpf_validar):
    print(f'O CPF {cpf_validar} está na lista.')

else:
    print(f'O CPF {cpf_validar} não está na lista.')

O CPF 123.456.789-99 não está na lista.

# ETL + Data Visualization

## Buscando dados de uma API

In [58]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta
import time

In [28]:
class YahooFinanceAPI:

  def __init__(self, simbolo):
    self.simbolo = simbolo
    self.dataframe = None

  def obter_dados_acao(self, meses=1):
    inicio = time.time()
    data_fim = datetime.today()
    data_inicio = data_fim - timedelta(days=meses*30)
    dados_acao = yf.download(self.simbolo, start=data_inicio, end=data_fim)
    fim = time.time()
    tempo_decorrido = fim - inicio
    print(f"Tempo decorrido para obter dados da API: {tempo_decorrido:.2f} segundos")
    self.dataframe = dados_acao
    return dados_acao

  def mostrar_estatisticas_basicas(self, meses=1):
    dados_acao = self.obter_dados_acao(meses)
    if not dados_acao.empty:
        print(f"Símbolo: {self.simbolo}")
        print(f"Número total de pontos de dados: {len(dados_acao)}")
        print(f"Máxima preço de fechamento: {dados_acao['Close'].max()}")
        print(f"Mínima preço de fechamento: {dados_acao['Close'].min()}")
        print(f"Média preço de fechamento: {dados_acao['Close'].mean()}")
    else:
        print("Não há dados disponíveis para o símbolo fornecido.")

  def mostrar_informacoes(self):
    if self.dataframe is None:
        print("DataFrame vazio. Leia um arquivo antes de usar esta função.")
    else:
        print(f"Número de linhas: {self.dataframe.shape[0]}")
        print(f"Número de colunas: {self.dataframe.shape[1]}")
        print(f"Colunas: {self.dataframe.columns}")

In [42]:
yahoo_finance = YahooFinanceAPI("MGLU3.SA")

In [43]:
yahoo_finance.mostrar_estatisticas_basicas(meses=3)

[*********************100%%**********************]  1 of 1 completed

Tempo decorrido para obter dados da API: 0.46 segundos
Símbolo: MGLU3.SA
Número total de pontos de dados: 63
Máxima preço de fechamento: 16.700000762939453
Mínima preço de fechamento: 10.670000076293945
Média preço de fechamento: 13.559523794386122

In [44]:
yahoo_finance.mostrar_informacoes()

Número de linhas: 63
Número de colunas: 6
Colunas: Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [25]:
# Simbolo do ativo que você deseja obter os dados
symbol = 'AAPL'

# Obtendo dados historicos do yahoo finance 
data = yf.download(symbol, start="2024-07-01", end="2024-07-10")

data.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-07-01,212.089996,217.509995,211.919998,216.750000,216.750000,60402900
2024-07-02,216.149994,220.380005,215.100006,220.270004,220.270004,58046200
2024-07-03,220.000000,221.550003,219.029999,221.550003,221.550003,37369800
2024-07-05,221.649994,226.449997,221.649994,226.339996,226.339996,60412400
2024-07-08,227.089996,227.850006,223.250000,227.820007,227.820007,59085900

## Criando um CRUD

### Famoso:

#### Create
#### Read
#### Updade
#### Delete

In [45]:
import sqlite3

In [47]:
class LivroDB:

    def __init__(self, db_name):
        self.conn = sqlite3.connect(db_name)
        self.c = self.conn.cursor()
        self.create_table()

    def create_table(self):
        Query = '''
                    CREATE TABLE IF NOT EXISTS livros (
                        id INTEGER PRIMARY KEY,
                        titulo TEXT NOT NULL,
                        autor TEXT NOT NULL,
                        ano INTEGER NOT NULL
                        )
                '''
        self.c.execute( Query )
        self.conn.commit()
    
    def adicionar_livro(self, titulo, autor, ano):
        self.c.execute("INSERT INTO livros (titulo, autor, ano) VALUES (?, ?, ?)", (titulo, autor, ano))
        self.conn.commit()
    
    def listar_livros(self):
        self.c.execute("SELECT * FROM livros")
        return self.c.fetchall()
    
    def buscar_livro_por_titulo(self, titulo):
        self.c.execute("SELECT * FROM livros WHERE titulo=?", (titulo,))
        return self.c.fetchall()
    
    def atualizar_livro(self, id, titulo, autor, ano):
        self.c.execute("UPDATE livros SET titulo=?, autor=?, ano=? WHERE id=?", (titulo, autor, ano, id))
        self.conn.commit()
    
    def deletar_livro(self, id):
        self.c.execute("DELETE FROM livros WHERE id=?", (id,))
        self.conn.commit()

In [48]:
livro_db = LivroDB("livros.db")

In [49]:
livro_db.adicionar_livro("Dom Casmurro", "Machado de Assis", 1899)

In [50]:
livro_db.adicionar_livro("A Metamorfose", "Franz Kafka", 1915)

In [51]:
print("Todos os livros:")
print(livro_db.listar_livros())

Todos os livros:
[(1, 'Dom Casmurro', 'Machado de Assis', 1899), (2, 'A Metamorfose', 'Franz Kafka', 1915)]

In [52]:
print(livro_db.buscar_livro_por_titulo("Dom Casmurro"))

[(1, 'Dom Casmurro', 'Machado de Assis', 1899)]

In [53]:
livro_db.atualizar_livro(1, "Dom Casmurro", "Machado de Assis", 1900)

In [54]:
print(livro_db.buscar_livro_por_titulo("Dom Casmurro"))

[(1, 'Dom Casmurro', 'Machado de Assis', 1900)]

In [55]:
livro_db.deletar_livro(2)

In [56]:
print("Todos os livros:")
print(livro_db.listar_livros())

Todos os livros:
[(1, 'Dom Casmurro', 'Machado de Assis', 1900)]

In [59]:
pd.DataFrame( livro_db.listar_livros() )

   0             1                 2     3
0  1  Dom Casmurro  Machado de Assis  1900